{{- define "overview" }}
# {{ .Config.Server.Name }}

Traefik Dashboard: http://traefik.{{ .Config.Server.Domain }}:8080

Total Desktops: {{ len .DesktopList }}

{{ with .DesktopList }}
{{- range . }}
- [{{.Name}}](##{{.Name}})
{{ end }}
{{ end }}

{{ $port := .Config.Proxy.HTTPPort }}
{{- with .DesktopList }}
{{- range . }}
## {{ .Name }}

{{- if .Owner }}
**Owned by `{{ .Owner }}`**
{{- else }}
**Not owned**
{{- end }}

### Services

#### VNC

Address: http://vnc.{{ .Name }}.{{ .Secrets.DOMAIN }}{{ if ne $port 80 }}{{ $port | printf ":%d" }}{{ end }}/vnc.html

Password: `{{ .Secrets.PASSWORD }}`

#### VSCode

Address: http://code.{{ .Name }}.{{ .Secrets.DOMAIN }}{{ if ne $port 80 }}{{ $port | printf ":%d" }}{{ end }}

Password: `{{ .Secrets.PASSWORD }}`

#### SSH

**SSH needs to be enabled before use**

Address: `ssh.{{ .Name }}.{{ .Secrets.DOMAIN }}`

Usage:
```bash
ssh root@ssh.{{ .Name }}.{{ .Secrets.DOMAIN }}
```

{{ end }}
{{ end }}
{{ end -}}