{{- define "relay" }}
  {{ .ServiceName }}:
    container_name: {{ .ContainerName }}
    hostname: {{ .HostName }}
    image: xumr0x/tailscale-relay:latest
    environment:
      ROUTES: {{ .Secrets.ROUTES }}
      AUTHKEY: {{ .Secrets.AUTHKEY }}
    cap_add:
      - NET_ADMIN
    volumes:
      - type: volume
        source: {{ .Volume.Name }}
        target: /tailscale
        volume:
            nocopy: false
    networks:
      {{ .Network.Name }}:
        ipv4_address: {{ .IPv4Address }}
{{ end -}}